@import 'variables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: $light-color;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



a {
  text-decoration: none;
  color: $dark-color;;
}

a:hover {
  color: $secondary-color;
}

@media screen and (min-width: 2560px) {
  body {
    font-size: 25px;
  }
  }