@import 'variables';

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: $light-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
