@import '../../variables';

.icon {
    width: 50px;
}

.footer {

    &__grid-container {

        display: grid;
        grid-template-columns: 10% 1.5fr repeat(2, 1fr) repeat(2, 10%);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: $neutral-color;
        // width: 100%;
        height: 400px;
        padding-top: 20px;




    }

    &__grid-item {



        &--back {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding-top: 15px;
        }

        &--social {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &--subscribe {
            display: flex;
            flex-direction: row;


            & [type=email] {
                height: 49px;
            }
        }

    }

    &__logo {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.5rem;
        padding: 0;
        margin-top: 15px;

    }
}

@media screen and (max-width: 800px) {

    .footer {

        &__logo {
            // background-color: red;
        }

        &__grid-container {
            display: flex;
            flex-direction: column;
            // height: 100%;
            height: 100%;
            padding-left: 20px;
            padding-right: 20px;


        }

        &__grid-item {

            &--logo>h3 {
                display: none;
            }

            &--logo p>br {
                display: none;
            }

            &--social {
                display: none;
            }

            &--subscribe {
                display: none;
            }

            &--back {
                margin-bottom: 20px;
            }

        }

    }


}